@use "src/styles/scss/token" as token;

@keyframes spinner_spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;

  border: 2px solid token.$color_border;
  border-top-color: token.$color_primary;

  animation: spinner_spin 0.8s linear infinite;
}
