@use "src/styles/scss/token" as token;

@keyframes spinner_spin {
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: inline-block;
  box-sizing: border-box;
  border-radius: token.$radius_full;

  border: token.$border_width_indicator solid token.$color_border_default;
  border-top-color: token.$color_brand_primary;

  animation: spinner_spin token.$transition_dramatic linear infinite;
}
