@use "src/styles/scss/token" as token;

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: token.$spacing_sm;
  cursor: pointer;
  user-select: none;
  position: relative;
}

.input {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.box {
  width: 1.125rem;
  height: 1.125rem;
  box-sizing: border-box;

  border: 1px solid token.$color_border;
  border-radius: token.$radius_sm;
  background: token.$color_background;

  transition: background token.$transition_base, border-color token.$transition_base,
  box-shadow token.$transition_base;
  display: inline-block;
  position: relative;
}

.label {
  @include token.text_base;
  color: token.$color_text_primary;
}

.size_sm {
  .box {
    width: 1rem;
    height: 1rem;
  }

  .label {
    @include token.text_sm;
  }
}

.size_md {
  .box {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.size_lg {
  .box {
    width: 1.25rem;
    height: 1.25rem;
  }

  .label {
    @include token.text_md;
  }
}

.input:focus-visible + .box {
  box-shadow: 0 0 0 3px token.$color_border_light;
  border-color: token.$color_primary;
}

.input:disabled + .box,
.input:disabled ~ .label {
  opacity: 0.6;
  cursor: not-allowed;
}

.input:checked + .box,
.input:indeterminate + .box {
  background: token.$color_primary;
  border-color: token.$color_primary;
}

.input:checked + .box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  width: 0.28rem;
  height: 0.55rem;

  border: 2px solid token.$color_background;
  border-top: 0;
  border-left: 0;

  transform: translate(-50%, -58%) rotate(45deg);
}

.input:indeterminate + .box::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;

  width: 0.65rem;
  height: 2px;
  background: token.$color_background;

  transform: translate(-50%, -50%);
  border-radius: 9999px;
}
