@use "src/styles/scss/token" as token;

.checkbox {
  display: inline-flex;
  align-items: center;
  gap: token.$spacing_sm;
  cursor: pointer;
  user-select: none;
  position: relative;

  &_input {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    white-space: nowrap;
  }

  &_box {
    width: 1.125rem;
    height: 1.125rem;
    box-sizing: border-box;

    border: 1px solid token.$color_border;
    border-radius: token.$radius_sm;
    background: token.$color_background;

    transition: background token.$transition_base, border-color token.$transition_base,
    box-shadow token.$transition_base;
    display: inline-block;
    position: relative;
  }

  &_label {
    @include token.text_base;
    color: token.$color_text_primary;
  }

  &_size_sm {
    .checkbox_box {
      width: 1rem;
      height: 1rem;
    }

    .checkbox_label {
      @include token.text_sm;
    }
  }

  &_size_md {
    .checkbox_box {
      width: 1.125rem;
      height: 1.125rem;
    }
  }

  &_size_lg {
    .checkbox_box {
      width: 1.25rem;
      height: 1.25rem;
    }

    .checkbox_label {
      @include token.text_md;
    }
  }

  &_input:focus-visible + .checkbox_box {
    box-shadow: 0 0 0 3px token.$color_border_light;
    border-color: token.$color_primary;
  }

  &_input:disabled + .checkbox_box,
  &_input:disabled ~ .checkbox_label {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &_input:disabled:not(:checked):not(:indeterminate) + .checkbox_box::before,
  &_input:disabled:not(:checked):not(:indeterminate) + .checkbox_box::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    width: 0.7rem;
    height: 2px;
    background: token.$text_disabled;
    border-radius: 9999px;
  }

  &_input:disabled:not(:checked):not(:indeterminate) + .checkbox_box::before {
    transform: translate(-50%, -50%) rotate(45deg);
  }

  &_input:disabled:not(:checked):not(:indeterminate) + .checkbox_box::after {
    transform: translate(-50%, -50%) rotate(-45deg);
  }

  &_input:checked + .checkbox_box,
  &_input:indeterminate + .checkbox_box {
    background: token.$color_primary;
    border-color: token.$color_primary;
  }

  &_input:checked + .checkbox_box::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;

    width: 0.28rem;
    height: 0.55rem;

    border: 2px solid token.$color_background;
    border-top: 0;
    border-left: 0;

    transform: translate(-50%, -58%) rotate(45deg);
  }

  &_input:indeterminate + .checkbox_box::after {
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;

    width: 0.65rem;
    height: 2px;
    background: token.$color_background;

    transform: translate(-50%, -50%);
    border-radius: 9999px;
  }
}
