@use "src/styles/scss/token" as token;

.radio {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: token.$spacing_sm;
  cursor: pointer;
  user-select: none;
}

.input {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
  margin: 0;
}

.dot {
  width: token.$font_size_md;
  height: token.$font_size_md;
  box-sizing: border-box;

  border: 1px solid token.$color_border;
  border-radius: token.$radius_full;
  background: token.$color_background;

  transition: background token.$transition_base,
  border-color token.$transition_base,
  box-shadow token.$transition_base;

  position: relative;
  display: inline-block;
}

.label {
  @include token.text_base;
  color: token.$color_text_primary;
}

.size_sm {
  .dot {
    width: 1rem;
    height: 1rem;
  }

  .label {
    @include token.text_sm;
  }
}

.size_md {
  .dot {
    width: 1.125rem;
    height: 1.125rem;
  }
}

.size_lg {
  .dot {
    width: 1.25rem;
    height: 1.25rem;
  }

  .label {
    @include token.text_md;
  }
}

.input:focus-visible + .dot {
  box-shadow: 0 0 0 3px token.$color_border_light;
  border-color: token.$color_primary;
}

.input:checked + .dot {
  border-color: token.$color_primary;
}

.input:checked + .dot::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 60%;
  height: 60%;
  transform: translate(-50%, -50%);
  background: token.$color_primary;
  border-radius: 9999px;
}

.input:disabled + .dot,
.input:disabled ~ .label {
  opacity: 0.6;
  cursor: not-allowed;
}
