# Dependencies
node_modules/

# Build output
dist/
storybook-static/
*.tsbuildinfo
tsup.config.bundled_*.mjs

# Environment
.env
.env.*

# Logs
*.log

# OS
.DS_Store

# IDE
.idea/
.vscode/
*.iml

# Temp
.cache/
*.tmp

# Coverage
coverage/