@use "src/styles/scss/token" as token;

.card {
  background: token.$color_background;
  border-radius: token.$radius_lg;
}

.bordered {
  border: 1px solid token.$color_border;
}

.shadow_none {
  box-shadow: none;
}

.shadow_sm {
  box-shadow: token.$shadow_sm;
}

.shadow_md {
  box-shadow: token.$shadow_md;
}

.shadow_lg {
  box-shadow: token.$shadow_lg;
}

.p_none {
  padding: 0;
}

.p_sm {
  padding: token.$spacing_sm;
}

.p_md {
  padding: token.$spacing_lg;
}

.p_lg {
  padding: token.$spacing_2xl;
}

.title {
  @include token.heading_3;
  margin-bottom: token.$spacing_md;
  color: token.$text_strong;
}

.body {
  width: 100%;
}
