@use "src/styles/token" as token;

.card {
  background: token.$color_background;
  border-radius: token.$radius_lg;

  /* border */
  &_bordered {
    border: 1px solid token.$color_border;
  }

  /* shadow */
  &_shadow_none {
    box-shadow: none;
  }

  &_shadow_sm {
    box-shadow: token.$shadow_sm;
  }

  &_shadow_md {
    box-shadow: token.$shadow_md;
  }

  &_shadow_lg {
    box-shadow: token.$shadow_lg;
  }

  /* padding */
  &_p_none {
    padding: 0;
  }

  &_p_sm {
    padding: token.$spacing_sm;
  }

  &_p_md {
    padding: token.$spacing_lg;
  }

  &_p_lg {
    padding: token.$spacing_2xl;
  }

  /* title */
  &_title {
    @include token.heading_3;
    margin-bottom: token.$spacing_md;
    color: token.$text_strong;
  }

  /* body */
  &_body {
    width: 100%;
  }
}