@use "src/styles/token" as token;

.card {
  background: token.$color_bg_solid;
  border-radius: token.$radius_lg;

  &_bordered {
    border: 1px solid token.$color_border_default;
  }

  &_shadow_none {
    box-shadow: none;
  }

  &_shadow_sm {
    box-shadow: token.$elevation_level1;
  }

  &_shadow_md {
    box-shadow: token.$elevation_level2;
  }

  &_shadow_lg {
    box-shadow: token.$elevation_level3;
  }

  &_p_none {
    padding: 0;
  }

  &_p_sm {
    padding: token.$spacing_8;
  }

  &_p_md {
    padding: token.$spacing_16;
  }

  &_p_lg {
    padding: token.$spacing_24;
  }

  &_title {
    @include token.heading_small;
    margin-top: 0;
    margin-bottom: token.$spacing_12;
    color: token.$color_text_heading;
  }

  &_body {
    width: 100%;
  }
}
