@use "src/styles/scss/token" as token;

.file_input {
  position: relative;
  display: inline-flex;
  align-items: center;

  &_control {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  &_label {
    border: 1px solid token.$color_border;
    border-radius: token.$radius_md;
    background: token.$color_background;

    padding: token.$spacing_sm token.$spacing_lg;

    @include token.text_base;
    color: token.$color_text_primary;

    transition: background token.$transition_base, border-color token.$transition_base,
    box-shadow token.$transition_base;
  }

  &:hover .file_input_label {
    border-color: token.$color_border_light;
  }

  &_control:focus-visible + .file_input_label {
    box-shadow: 0 0 0 3px token.$color_border_light;
    border-color: token.$color_primary;
  }

  &_disabled {
    cursor: not-allowed;

    .file_input_control {
      cursor: not-allowed;
    }

    .file_input_label {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:hover .file_input_label {
      border-color: token.$color_border;
    }
  }
}