@use "src/styles/scss/token" as token;

.file_input {
  position: relative;
  display: inline-flex;
  align-items: center;

  &:hover .label {
    border-color: token.$color_border_light;
  }
}

.control {
  position: absolute;
  inset: 0;
  opacity: 0;
  cursor: pointer;
}

.label {
  border: 1px solid token.$color_border;
  border-radius: token.$radius_md;
  background: token.$color_background;

  padding: token.$spacing_sm token.$spacing_lg;

  @include token.text_base;
  color: token.$color_text_primary;

  transition: background token.$transition_base, border-color token.$transition_base,
  box-shadow token.$transition_base;
}

.control:focus-visible + .label {
  box-shadow: 0 0 0 3px token.$color_border_light;
  border-color: token.$color_primary;
}

.disabled {
  cursor: not-allowed;

  .control {
    cursor: not-allowed;
  }

  .label {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &:hover .label {
    border-color: token.$color_border;
  }
}
