@use "src/styles/scss/token" as token;

.sidebar {
  @include token.flex_column;
  height: 100%;
  width: 240px;
  background: token.$color_background;
  border-right: 1px solid token.$color_border;
  padding: token.$spacing_sm;
  gap: token.$spacing_sm;
  overflow: hidden;

  transition: width token.$transition_slow;
}

.is_closed {
  width: 56px;
}

.brand {
  padding: token.$spacing_sm;
  margin-bottom: token.$spacing_sm;
  border-bottom: 1px solid token.$color_border;
}

.brand_link {
  @include token.flex_between;
  align-items: center;
}

.nav {
  display: grid;
  gap: token.$spacing_xs;
}

.group {
  display: grid;
  gap: token.$spacing_xs;
}

.item {
  border: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: token.$spacing_sm token.$spacing_md;
  border-radius: token.$radius_md;
  color: token.$text_subtle;
  cursor: pointer;
  background: transparent;

  transition:
          background-color token.$transition_base,
          color token.$transition_base;

  &:hover {
    background: token.$color_background_secondary;
    color: token.$text_strong;
  }
}

.item_active {
  background: token.$color_background;
  color: token.$text_strong;
  box-shadow: inset 0 0 0 1px token.$color_border;
}

.item_left {
  display: flex;
  align-items: center;
  gap: token.$spacing_sm;
}

.item_right {
  display: flex;
  align-items: center;
}

.icon {
  display: grid;
  place-items: center;
}

.chevron {
  transition: transform token.$transition_base;
}

.chevron_open {
  transform: rotate(180deg);
}

.label {
  font-size: token.$font_size_md;
  white-space: nowrap;
}

.sub {
  display: grid;
  gap: token.$spacing_xs;
  padding-left: token.$spacing_md;

  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-4px);

  transition:
          max-height token.$transition_slow,
          opacity token.$transition_base,
          transform token.$transition_base;
}

.sub_open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
}

.sub_item {
  display: flex;
  align-items: center;
  gap: token.$spacing_md;
  padding: token.$spacing_xs token.$spacing_md;
  border-radius: token.$radius_md;
  color: token.$text_subtle;
  cursor: pointer;
  background: transparent;

  transition:
          background-color token.$transition_base,
          color token.$transition_base;

  &:hover {
    background: token.$color_background_secondary;
    color: token.$text_strong;
  }
}

.sub_item_active {
  color: token.$color_primary;
  font-weight: token.$font_weight_medium;
}

.sub_icon {
  display: grid;
  place-items: center;
  color: token.$text_subtle;
}

.sub_label {
  font-size: token.$font_size_sm;
  white-space: nowrap;
}
