@use "src/styles/scss/token" as token;

.sidebar {
  @include token.flex_column;
  box-sizing: border-box;
  height: 100%;
  background: token.$color_background;
  border-right: 1px solid token.$color_border;
  padding: token.$spacing_sm;
  gap: token.$spacing_sm;

  &_brand {
    padding: token.$spacing_sm;
    margin-bottom: token.$spacing_sm;
    border-bottom: 1px solid token.$color_border;

    &_link {
      display: block;
      width: 100%;
    }

    &_img {
      display: block;
      width: 100%;
      height: auto;
      object-fit: contain;
    }
  }

  &_nav {
    display: grid;
    gap: token.$spacing_xs;
    padding: token.$spacing_sm 0;
  }

  &_group {
    display: grid;
    gap: token.$spacing_xs;
  }

  &_item {
    display: grid;
    grid-template-columns: 24px 1fr auto;
    align-items: center;
    gap: token.$spacing_sm;
    padding: token.$spacing_sm token.$spacing_md;
    border-radius: token.$radius_md;
    color: token.$text_subtle;
    background: transparent;
    border: 1px solid transparent;
    cursor: pointer;

    @include token.text_base;

    transition: background-color token.$transition_base,
      color token.$transition_base, border-color token.$transition_base;

    &:hover {
      background: token.$color_background_secondary;
      color: token.$text_strong;

      .sidebar_icon {
        color: token.$text_strong;
      }
    }

    &.is_active {
      position: relative;
      background: token.$color_background;
      border-color: token.$color_border;
      color: token.$text_strong;
      box-shadow: inset 0 0 0 1px token.$color_border;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 6px;
        bottom: 6px;
        width: 3px;
        border-radius: token.$radius_full;
        background: token.$color_primary;
      }
    }
  }

  &_icon {
    display: inline-grid;
    place-items: center;
    color: token.$text_subtle;
    transition: color token.$transition_base;
  }

  &_label {
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: left;

    &.is_active {
      color: token.$color_primary;
      font-weight: 500;
    }
  }

  &_chevron {
    display: inline-grid;
    place-items: center;
    color: token.$text_subtle;
    transition: transform token.$transition_base;

    &.is_open {
      transform: rotate(180deg);
    }
  }

  &_sub {
    display: grid;
    gap: token.$spacing_xs;
    padding-left: token.$spacing_lg;
  }

  &_sub_item {
    padding: token.$spacing_xs token.$spacing_md;
    border-radius: token.$radius_sm;
    color: token.$text_subtle;

    &:hover {
      background: token.$color_background_secondary;
      color: token.$text_strong;
    }

    &.is_active {
      color: token.$color_primary;
      font-weight: 500;
    }
  }
}
