@use "src/styles/scss/token" as token;

.sidebar {
  @include token.flex_column;
  height: 100%;
  width: 240px;
  background: token.$color_background;
  border-right: 1px solid token.$color_border;
  padding: token.$spacing_sm;
  gap: token.$spacing_sm;
  overflow: hidden;

  transition: width token.$transition_slow;

  &.is_closed {
    width: 56px;
  }

  &_brand {
    padding: token.$spacing_sm;
    margin-bottom: token.$spacing_sm;
    border-bottom: 1px solid token.$color_border;

    &_link {
      @include token.flex_between;
      align-items: center;
    }
  }

  &_nav {
    display: grid;
    gap: token.$spacing_xs;
  }

  &_group {
    display: grid;
    gap: token.$spacing_xs;
  }

  &_item {
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: token.$spacing_sm token.$spacing_md;
    border-radius: token.$radius_md;
    color: token.$text_subtle;
    cursor: pointer;
    background: transparent;

    transition:
            background-color token.$transition_base,
            color token.$transition_base;

    &:hover {
      background: token.$color_background_secondary;
      color: token.$text_strong;
    }

    &.is_active {
      background: token.$color_background;
      color: token.$text_strong;
      box-shadow: inset 0 0 0 1px token.$color_border;
    }
  }

  &_item_left {
    display: flex;
    align-items: center;
    gap: token.$spacing_sm;
  }

  &_item_right {
    display: flex;
    align-items: center;
  }

  &_icon {
    display: grid;
    place-items: center;
  }

  &_chevron {
    transition: transform token.$transition_base;

    &.is_open {
      transform: rotate(180deg);
    }
  }

  &_label {
    font-size: token.$font_size_md;
    white-space: nowrap;
  }

  &_sub {
    display: grid;
    gap: token.$spacing_xs;
    padding-left: token.$spacing_md;

    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-4px);

    transition:
            max-height token.$transition_slow,
            opacity token.$transition_base,
            transform token.$transition_base;

    &.is_open {
      max-height: 500px;
      opacity: 1;
      transform: translateY(0);
    }
  }

  &_sub_item {
    display: flex;
    align-items: center;
    gap: token.$spacing_md;
    padding: token.$spacing_xs token.$spacing_md;
    border-radius: token.$radius_md;
    color: token.$text_subtle;
    cursor: pointer;
    background: transparent;

    transition:
            background-color token.$transition_base,
            color token.$transition_base;

    &:hover {
      background: token.$color_background_secondary;
      color: token.$text_strong;
    }

    &.is_active {
      color: token.$color_primary;
      font-weight: token.$font_weight_medium;
    }
  }

  &_sub_icon {
    display: grid;
    place-items: center;
    color: token.$text_subtle;
  }

  &_sub_label {
    font-size: token.$font_size_sm;
    white-space: nowrap;
  }
}