@use "src/styles/token" as token;

.file_input {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;

  &:hover .file_input_label {
    border-color: token.$color_border_hover;
    cursor: pointer;
  }

  &_control {
    position: absolute;
    inset: 0;
    opacity: 0;
    cursor: pointer;
  }

  &_label {
    border: token.$border_width_standard solid token.$color_border_default;
    border-radius: token.$radius_md;
    background: token.$color_bg_solid;

    padding: token.$spacing_8 token.$spacing_16;

    @include token.body_medium;
    color: token.$color_text_heading;

    transition: background token.$transition_base, border-color token.$transition_base,
    box-shadow token.$transition_base;
  }

  &_control:focus-visible + .file_input_label {
    box-shadow: token.$focus_ring;
    border-color: token.$color_brand_primary;
  }

  &_helper {
    display: block;
    margin-top: token.$spacing_4;
    @include token.label_small;
    color: token.$color_text_body;
  }

  &_preview {
    display: flex;
    flex-wrap: wrap;
    gap: token.$spacing_8;
    margin-top: token.$spacing_8;
  }

  &_preview_img {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: token.$radius_md;
    border: token.$border_width_standard solid token.$color_border_default;
  }

  &_disabled {
    cursor: not-allowed;

    .file_input_control {
      cursor: not-allowed;
    }

    .file_input_label {
      opacity: token.$opacity_38;
      cursor: not-allowed;
    }

    &:hover .file_input_label {
      border-color: token.$color_border_default;
    }
  }
}
