@use "src/styles/token" as token;

@keyframes loading_spin {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  display: inline-block;
  box-sizing: border-box;
  border-radius: 50%;

  border: 2px solid token.$color_border;
  border-top-color: token.$color_primary;

  animation: loading_spin 0.8s linear infinite;
}