@use "src/styles/scss/token" as token;

.date_picker {
  display: flex;
  flex-direction: column;
  gap: token.$spacing_xs;

  &_label {
    color: token.$color_text_primary;
    margin-bottom: token.$spacing_xs;
    font-weight: token.$font_weight_medium;
    font-size: token.$font_size_sm;
    line-height: token.$line_height_normal;
  }

  &_required {
    margin-left: token.$spacing_xs;
    color: token.$color_error;
  }

  &_fields {
    display: flex;
    gap: token.$spacing_sm;
  }

  select {
    min-width: 88px;
    height: token.$tap_min_size;
    padding: 0 token.$spacing_md;

    font-family: token.$font_family_primary;
    @include token.text_base;

    color: token.$color_text_primary;
    background-color: token.$color_background;

    border: 1px solid token.$color_border;
    border-radius: token.$radius_sm;

    cursor: pointer;
    transition:
            border-color token.$transition_fast,
            box-shadow token.$transition_fast,
            background-color token.$transition_fast;

    appearance: none;

    background-image:
            linear-gradient(45deg, transparent 50%, token.$color_text_secondary 50%),
            linear-gradient(135deg, token.$color_text_secondary 50%, transparent 50%);
    background-position:
            calc(100% - 16px) calc(50% - 3px),
            calc(100% - 11px) calc(50% - 3px);
    background-size: 5px 5px;
    background-repeat: no-repeat;

    &:hover:not(:disabled) {
      border-color: token.$color_primary;
      background-color: token.$color_background_secondary;
    }

    &:focus-visible {
      outline: none;
      border-color: token.$color_primary;
      box-shadow: token.$focus_ring;
      background-color: token.$color_background;
    }

    &:disabled {
      cursor: not-allowed;
      color: token.$text_disabled;
      background-color: token.$color_background_secondary;
      border-color: token.$color_border_light;
    }

    option {
      color: token.$color_text_primary;
    }
  }

  &_full {
    width: 100%;

    .date_picker_fields {
      width: 100%;
    }

    select {
      flex: 1;
      min-width: 0;
    }
  }

  &_disabled {
    .date_picker_label {
      color: token.$text_disabled;
    }
  }

  @media (max-width: 480px) {
    &_fields {
      gap: token.$spacing_xs;
    }

    select {
      flex: 1;
      min-width: 0;
    }
  }
}