@use "src/styles/scss/token" as token;
@use "sass:color";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: token.$spacing_8;

  border-radius: token.$radius_md;
  border: none;
  cursor: pointer;

  font-weight: token.$font_weight_medium;
  transition: background token.$transition_base,
  color token.$transition_base,
  box-shadow token.$transition_base,
  transform token.$transition_base;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &_size_sm {
    padding: token.$spacing_8 token.$spacing_16;
    @include token.label_small;
  }

  &_size_md {
    padding: token.$spacing_12 token.$spacing_20;
    @include token.body_medium;
  }

  &_size_lg {
    padding: token.$spacing_16 token.$spacing_24;
    @include token.body_large;
  }

  &_variant_primary {
    background: token.$color_brand_primary;
    color: token.$color_bg_solid;

    &:hover:not(:disabled) {
      background: token.$color_base_neutral_300;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &_variant_secondary {
    background: transparent;
    border: 1px solid token.$color_border_default;
    color: token.$color_text_heading;

    &:hover:not(:disabled) {
      background: token.$color_bg_solid_dim;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &_variant_ghost {
    background: transparent;
    color: token.$color_text_heading;

    &:hover:not(:disabled) {
      background: token.$color_state_hover_on_light;
    }

    &:active:not(:disabled) {
      transform: scale(0.96);
    }
  }

  &_variant_danger {
    background: token.$color_status_error;
    color: token.$color_bg_solid;

    &:hover:not(:disabled) {
      background: color.adjust(token.$color_status_error, $lightness: -8%);
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &_full_width {
    width: 100%;
  }
}
