@use "src/styles/scss/token" as token;
@use "sass:color";

.button {
  width: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: token.$spacing_sm;

  border-radius: token.$radius_md;
  border: none;
  cursor: pointer;

  font-weight: token.$font_weight_medium;
  transition: background token.$transition_base,
  color token.$transition_base,
  box-shadow token.$transition_base,
  transform token.$transition_base;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
  }

  &_size_sm {
    padding: token.$spacing_sm token.$spacing_lg;
    @include token.text_sm;
  }

  &_size_md {
    padding: token.$spacing_md token.$spacing_xl;
    @include token.text_base;
  }

  &_size_lg {
    padding: token.$spacing_lg token.$spacing_2xl;
    @include token.text_md;
  }

  &_variant_primary {
    background: token.$color_primary;
    color: token.$color_background;

    &:hover:not(:disabled) {
      background: token.$color_primary_hover;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &_variant_secondary {
    background: transparent;
    border: 1px solid token.$color_border;
    color: token.$color_text_primary;

    &:hover:not(:disabled) {
      background: token.$color_background_secondary;
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }

  &_variant_ghost {
    background: transparent;
    color: token.$color_text_primary;

    &:hover:not(:disabled) {
      background: rgba(0, 0, 0, 0.05);
    }

    &:active:not(:disabled) {
      transform: scale(0.96);
    }
  }

  &_variant_danger {
    background: token.$color_error;
    color: token.$color_background;

    &:hover:not(:disabled) {
      background: color.adjust(token.$color_error, $lightness: -8%);
    }

    &:active:not(:disabled) {
      transform: scale(0.98);
    }
  }
}