// ── Base opacity ─────────────────────────────────────────────────────────────

$opacity_0:   0;
$opacity_5:   0.05;
$opacity_8:   0.08;
$opacity_12:  0.12;
$opacity_16:  0.16;
$opacity_38:  0.38;
$opacity_50:  0.5;
$opacity_80:  0.8;
$opacity_90:  0.9;
$opacity_100: 1;
