@use "src/styles/scss/token" as token;

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;

  width: 40px;
  height: 22px;
  padding: 2px;

  border-radius: token.$radius_full;
  background: token.$color_border;

  transition: background token.$transition_base;
  cursor: pointer;
}

.thumb {
  width: 18px;
  height: 18px;
  background: token.$color_background;
  border-radius: token.$radius_full;
  transition: transform token.$transition_base;
  transform: translateX(0);
}

.on {
  background: token.$color_primary;

  .thumb {
    transform: translateX(18px);
  }
}

.size_sm {
  width: 34px;
  height: 18px;
  padding: 2px;

  .thumb {
    width: 14px;
    height: 14px;
  }

  &.on .thumb {
    transform: translateX(16px);
  }
}

.size_md {
  width: 40px;
  height: 22px;
}

.size_lg {
  width: 48px;
  height: 26px;
  padding: 2px;

  .thumb {
    width: 22px;
    height: 22px;
  }

  &.on .thumb {
    transform: translateX(22px);
  }
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
