@use "src/styles/scss/token" as token;

.switch {
  position: relative;
  display: inline-flex;
  align-items: center;

  width: 40px;
  height: 22px;
  padding: 2px;

  border-radius: token.$radius_full;
  background: token.$color_border;

  transition: background token.$transition_base;
  cursor: pointer;

  &_thumb {
    width: 18px;
    height: 18px;
    background: token.$color_background;
    border-radius: token.$radius_full;
    transition: transform token.$transition_base;
    transform: translateX(0);
  }

  &_on {
    background: token.$color_primary;

    .switch_thumb {
      transform: translateX(18px);
    }
  }

  &_size_sm {
    width: 34px;
    height: 18px;
    padding: 2px;

    .switch_thumb {
      width: 14px;
      height: 14px;
    }

    &.switch_on .switch_thumb {
      transform: translateX(16px);
    }
  }

  &_size_md {
    width: 40px;
    height: 22px;
  }

  &_size_lg {
    width: 48px;
    height: 26px;
    padding: 2px;

    .switch_thumb {
      width: 22px;
      height: 22px;
    }

    &.switch_on .switch_thumb {
      transform: translateX(22px);
    }
  }

  &_disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }
}