@use "colors" as colors;

$focus_ring:         0 0 0 3px rgba(colors.$color_base_brand_primary, 0.15);
$focus_ring_error:   0 0 0 3px rgba(colors.$color_base_status_error, 0.15);
$focus_ring_success: 0 0 0 3px rgba(colors.$color_base_status_success, 0.15);

$tap_min_size: 44px;
