name: Chromatic

on:
  pull_request:
    branches: [ develop ]
  push:
    branches: [ main ]

jobs:
  upload:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: pnpm

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Publish Storybook to Chromatic
        run: pnpm dlx chromatic --build-script-name=build:sb --only-changed --exit-once-uploaded --no-interactive
        env:
          CHROMATIC_PROJECT_TOKEN: ${{ secrets.CHROMATIC_TOKEN }}